{% extends 'base.html.twig' %}

{% block title %}MY SYMFONY SHOP!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1 class= "text-center my-5" >Discover all ours products</h1>

		<div class="row gap-3 justify-content-center">
			{% for product in products %}
				<div class="col-md-3 border ">
					{{ product.name}}
					==> {{ product.category.name }} ==> {{ product.price}} $
				</div>
			{% endfor %}
		</div>
	{% endblock %}
